@page
@model PawsAndClaws.Pages.AddAppointmentModel
@{
    ViewData["Title"] = "Add Appointment";
}

<h1>Add Appointment</h1>

<form method="post">
    <div class="form-group">
        <label>Pet Name</label>
        <input type="text" asp-for="_appointment.scheduledPet.name" />
        <span asp-validation-for="_appointment.scheduledPet.name"></span>
    </div>
    <div class="form-group">
        <label>Owner Name</label>
        <input type="text" asp-for="_appointment.scheduledOwner.name" />
        <span asp-validation-for="_appointment.scheduledOwner.name"></span>
    </div>
    <div class="form-group">
        <label>Owner Phone Number</label>
        <input type="tel" asp-for="_appointment.scheduledOwner.phoneNumber" pattern="[0-9]{10,13}" />
        <span asp-validation-for="_appointment.scheduledOwner.phoneNumber"></span>
    </div>
    <div class="form-group">
        <label>Appointment Date</label>
        <input type="datetime" asp-for="_appointment.scheduledTime" value="@DateTime.Now.ToString("M/d/yyyy")" />
        <span asp-validation-for="_appointment.scheduledTime"></span>
    </div>
    <div class="form-group">
        <label>Reason for Appointment</label>
        <input type="text" asp-for="_appointment.reason" />
        <span asp-validation-for="_appointment.reason"></span>
    </div>
    <button asp-page-handler="Save">Save</button>
    <button asp-page-handler="Cancel">Cancel</button>
</form>

